@use "../util/" as *;

.header {
  margin: rem(40) auto rem(40) auto;
  display: grid;

  @include breakpoint(small) {
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
  }

  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
  }

  &__toggle {
    align-self: center;
    padding: rem(16) 0 0;

    @include breakpoint(medium) {
      padding: 0;
    }
  }

  &__title {
    width: 100;
    padding-bottom: rem(24);
    border-bottom: 1px solid var(--dark-card-hover);

    @include breakpoint(medium) {
      justify-self: start;
      border-bottom: none;
      padding-bottom: 0;
      width: auto;
    }
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
    color: var(--dark-text1);
  }
}
